.FinCopyMainCard {
  margin: auto;
  width: 95%;
  max-width: 1450px;
  margin-top: 50px;
  min-height: 200px;
  padding: 20px;
  overflow: auto;
}
.FinCopytxtFtable {
  vertical-align: top;
}

.FinCopyTable th {
  color: black;
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 20px;
}
.FinCopyTable td {
  padding: 5px !important;
  text-align: right;
}
.FinCopyTable .CelllblSpan {
  border: 0px solid black;
  margin-right: 10px;
  /* background-color: #B0EBB4 !important ; */
  text-align: left !important;
}
.FinCopytxtF {
  padding: 3px !important;
  font-size: 16px;
  width: 200px;
}

.FinCopygvBackside {
  width: 400px !important;
  margin: left;
  background: #454545 !important;
}
.FinCopygvBackside td {
  padding: 2px !important;
}

.FinCopygvSerial {
  width: 400px !important;
  margin: left;
  margin-top: 20px !important;
}
.FinCopygvSerialCell {
  padding: 5px !important;
  margin: auto;
  text-align: center !important;
}
.imgPage {
  width: 320px;
  height: 250px;
  padding: 0px;
  align-items: center;
  margin: auto;
}
.tdResult{
    text-align: center;
    width: 900px;
    align-items: center;
    padding: 0px;
    margin: 0px;
    vertical-align: top; 
}
.styleDisableFinCopy {
  background-color: "#B2A8A8";
  padding: 3px !important;
  font-size: 16px;
  width: 200px;
}
.styleEnableFinCopy {
  background-color: "";
  padding: 0px 0px 3px 3px !important;
  font-size: 16px;
  width: 200px;
}

.row-red {
  color: red;
}

.row-green {
  color: green;
}