/* .ReplaceRecord {
    width: 60%;
  } */

.ReplaceRecord th{
    padding: 0 !important;
    background-color: #8c8c8c !important ;
    border-radius: 5px  5px 0 0!important;
    color: #fff;
}

.ReplaceRecord td{
    padding: 4px 4px 4px 4px!important;
 
}
.Card-ResultSerialTime{
    height: 80px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    margin-top: 10px;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100%';
    text-align: 'center';
    width:600px
   

    
}

