/* .css-1ex1afd-MuiTableCell-root {
  padding: 3px !important;
} */



/* .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5.5px 8px !important;
  width: 200px !important;
} */

.select {
  width: 215px !important;
  font-size: 14px !important;
}
.maintd{
  vertical-align: top;
  height: 300px !important;
  width: 440px !important;
}
.mainTable {
  
  width: 440px !important;
}
.mainTable th {
  /* background-color: rgb(243, 8, 8); */
  color: black;
  /* font-weight: 700; */
  font-family: Arial;
  height: 25px;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  height: 30px;
  font-size: 24px;
}
.mainTable td {
  padding: 3px !important;
}


.Head {
  margin-top: 100px;
  display: flex;
}
.lblResultFin{
  margin-left: 20px;
  width: 1000px;
  text-align: center;
  font-size: 80px;
  /* height: 0px; */
}
.pnlBackside{
  margin-top: 5px;
  width: 400px !important;
}
.gvBackSide{
  width: 440px !important;
}
.gvBackSide td {
  padding: 3px;
  width: 100px;
  padding: 0px 0px 0px 0px !important;

}

.gvBackSide input {
  width: 200px !important;
}

.lblTbLog {
  width: 400px !important;
  margin: left;
  background-color: red;
}
.lblTbLog td {
  text-align: center;
}

.styleEnable {
  background-color: White;
  font-weight: normal;
  font-size: 11pt;
  color: Black;
  text-transform: uppercase;
}
.styleDisable {
  background-color: Silver;
  font-weight: normal;
  font-size: 11pt;
  color: Black;
}

.txtField {
  padding: 3px !important;
  font-size: 16px !important;
  width: 220px !important;
}

#ddlProduct {
  padding: 1px !important;
  font-size: 12px;
}

.gvSerial {
  
  width: 440px !important;
  margin-top: 5px !important;
}
.gvSerial th{
  padding: 5px !important;
}

.gvSerialThead{
  color: white !important;
  text-align: center !important;
  width: 30px !important;
  border-right: 1px solid #d9d9d9;
  
}
.gvSerial td {
  padding: 4px 4px 4px 4px !important;
}

.panelgvSerial {
  width: 400px !important;
  margin-top: 5px !important;
}
.gvSerialCell {
  padding: 0px !important;
  /* background-color: #006666; */
  margin: auto;
  text-align: center !important;
  border-right: 1px solid #d9d9d9;
}
#gvScanResultSheet{
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
}
#gvScanResultSeq{
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
}
#gvScanResultSerial{
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
}
#gvScanResultScan{
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
}
#gvScanResultRemark{
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
}
#gvScanResult {
  margin-top: 20px;
  width: auto;
  border: 1px solid rgb(221, 219, 219);
}
#gvScanResult th {
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
  /* background-color: #378CE7;*/
  background-color: #FF9800;
  color: white;
  font-weight: 700;
  font-family: Arial;
}


.lblResultCard{
  width: 1200px;
  width: 100%;
  margin: auto;
  /* margin-left: 200px; */
  height: 45px;
  text-align: center;
}
.row-red {
  color: red;
}

.row-green {
  color: green;
}