/* style={{margin: 'auto',width:'400px' }} */
.ScanSMT{
    margin: auto;
    width: 450px !important;
   
}

.ScanSMT th{
 
    padding: 3px !important;
    background-color: #8c8c8c !important ;
    border-radius: 5px  5px 0 0!important;
    color: #fff;
    

}
.aaaa{
    color: green !important;
}

.ScanSMT td{

    padding: 4px 4px 4px 4px!important;
    /* margin: 10px !important; */


}

.BtLotno{
    background-color: #D04848 !important ;
    padding: 1px !important;
    font-size: 15px;
    width: 35px;
    height: 20px;
border-radius: 4px;
margin: auto;
}

.CSS-GvSerial{
    margin: auto;
    width: 400px !important;
    
  

}

.CSS-GvSerial th{
    background-color: #12422e !important ;
    color: #fff;
    border: 1px solid rgb(255, 255, 255)

}

.CSS-GvScanResult{
  
    width: 900px !important;
    margin-left: 50px;
    

}

.CSS-GvScanResult th{
    /* margin: auto;
    width: 400px !important; */
    padding: 7px !important;
    background-color: #096dd9 !important ;
    /* border-radius: 5px  5px 0 0!important; */
    color: #fff;
    text-align: center;
}
#txtfild {
    padding: 1px !important;
    font-size: 16px;
    padding-left: 5px !important;
}
  
#selectPd {
    padding: 0 !important;
    font-size: 14px !important;
    padding-left: 5px !important;
  }
  
