.pnlMain {
  display: flex;
  margin: auto;
  /* margin-top: 80px; */
  width: 600px;
  height: 240px;
}
#TableMain {
  width: 600px !important;
  margin: 0 auto;
  height: 200px;

}
#TableMain th {
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.pnlResult {
  display: flex;
  margin: auto;
  width: 600px;
  margin-top: 10px;
}
#TableResult {
  height: 180px;
  /* background: #EFBC9B; */
  
}
#TableResult td {
  /* font-size: 80px; */
  text-align: center;
}
.pnlSave {
  display: flex;
  margin: auto;
  width: 600px;
  /* margin-top: 20px; */
}
#TableSave {
  width: 600px;
  margin: 0 auto;
}
#TableSave td {
  text-align: center;
}

#lbltxt {
  width: 150px;
  text-align: right;
  font-size: 16px;
}
.txtField {
  width: 250px !important;
  padding: 1px;
}
#TableResultReflow {
  height: 180px;
  
}
#TableResultReflowred {
  height: 180px;
}
#TableResultReflow td {
  /* font-size: 80px; */
  text-align: center;
  border: 15px;
}
#TableResultReflowred td {
  /* font-size: 80px; */
  border: 1px solid red !important;
  text-align: center;
}
.btnBackReflow {
  border: none !important;
  border-color: white;
}
