.AVITableFirst {
  margin: auto;
  width: 500px;
  
}
.AVITableFirst th{
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 20px;
}

.AVITableFirst td {
  padding: 5px;
}

.DAVITableFirst {
  display: flex;
  margin: auto;
  width: 530px;
  /* margin-top: 70px; */
}

.DAVITableSecond {
    display: flex;
    margin: auto;
    width: 530px;
    margin-top: 30px;
  }
  
  .AVITableSecond {
    margin: auto;
    width: 500px;
  }
  .AVITableSecond td {
    padding: 3px;
  }
  .AVITableSecond th {
    padding: 5px;
  }
  .green-row {
    color: green; 
  }
  .red-row {
    color: red; 
  }