/* .css-1ex1afd-MuiTableCell-root {
  padding: 3px !important;
} */

.mainTable td {
  padding: 3px !important;
}

/* .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5.5px 8px !important;
  width: 200px !important;
} */

.select {
  width: 215px !important;
  font-size: 14px !important;
}
.mainTable {
  width: 400px !important;
  margin: auto;
}
.Head {
  margin-top: 100px;
}
.pnlBackSide {
  width: 400px !important;
  margin: auto;
}

.gvBackSide {
  width: 400px !important;
  margin: auto;
  margin-top: 20px;
}
.gvBackSide td {
  padding: 3px;
}

.gvBackSide input {
  width: 200px !important;
}

.lblTbLog {
  width: 400px !important;
  margin: auto;
  background-color: red;
}
.lblTbLog td {
  text-align: center;
}

.styleEnable {
  background-color: White;
  font-weight: normal;
  font-size: 11pt;
  color: Black;
  text-transform: uppercase;
}
.styleDisable {
  background-color: Silver;
  font-weight: normal;
  font-size: 11pt;
  color: Black;
}
