.css-1ex1afd-MuiTableCell-root {
  padding: 3px !important;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5.5px 8px !important;
  width: 200px !important;
}

.autocomplete {
  width: 215px !important;
}
.mainTable {
  width: 400px !important;
  margin-left: 30px;

}
