.masterFGmaintd {
  vertical-align: top;
  
}
.masterFGmainTable {
  max-width: 400px;
}
.masterFGTable th {
  color: black;
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 24px;
  height: 30px;
}

.masterFGlblTable td{
  padding: 5px !important;
}
.masterFGTable td {
  padding: 5px !important;
  text-align: right;
}
.masterFGtxtF {
  padding: 3px !important;
  font-size: 16px;
  width: 230px;
}

.styleDisable {
  background-color: "#B2A8A8";
  padding: 3px !important;
  font-size: 16px;
  width: 230px;
}
.styleEnable {
  background-color: "";
  padding: 3px !important;
  font-size: 16px;
  width: 230px;
}

.masterFGgvSerial {
  width: 400px !important;
  margin: left;
}

.masterFGgvSerialCell {
  padding: 0px !important;
  margin: auto;
  text-align: center !important;
  border-right: 1px solid #d9d9d9 !important;
}
.masterFGgvSerialCellHead {
  padding: 5px !important;
  margin: auto;
  text-align: center !important;
}

.gvScanResultMasterFinal {
  margin-top: 20px;
  width: auto;
  border: 1px solid rgb(221, 219, 219);
  width: 1000px !important;
}

.gvScanResultMasterFinal th {
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
  /* background-color: #378CE7;*/
  background-color: #ff9800;
  color: white;
  font-weight: 700;
  font-family: Arial;
}
.gvScanResultMasterFinal td {
  text-align: center;
  border-right: 1px solid rgb(221, 219, 219);
  /* font-weight: 700;
  font-family: Arial; */
}
.lblResultCardMasterFinal {
  max-width: 1000px;
  width: 100%;
  /* margin: auto; */
  /* margin-left: 0px; */
  height: 45px;
}

.lblResultMasterFinal {
  margin-left: 20px;
  width: 1000px;
  text-align: center;
  font-size: 80px;
  /* height: 0px; */
}

.row-red {
  color: red;
}

.row-green {
  color: green;
}
