/* style={{margin: 'auto',width:'400px' }} */
.ScanSMT{
    width:  450px;
}

.ScanSMT th{
    padding: 3px !important;
    background-color: #8c8c8c !important ;
    border-radius: 5px  5px 0 0!important;
    color: #fff;
}


.ScanSMT td{
    padding: 4px 4px 4px 4px!important;
}
