/***  Khun ***/


  /* [id^="gvSerial_txtSerial_"] {
    padding: 1px !important;
    font-size: 16px;
    padding-left: 5px !important;
} */

.row-red {

  color: red;
}

.row-red .ant-table-cell {
  color: red; 
}


.row-green {

  color: green; 
}
.row-green .ant-table-cell {
  color: green; 
}

  
