/***  Khun ***/
.ScanSMT{
    margin: auto;
    max-width:  450px;
    width:  450px;
   
}

.ScanSMT th{
    padding: 3px !important;
    background-color: #8c8c8c !important ;
    border-radius: 5px  5px 0 0!important;
    color: #fff;
}


.ScanSMT td{

    padding: 4px 4px 4px 4px!important;
    /* margin: 10px !important; */


}

.BtLotno{
    background-color: #D04848 !important ;
    padding: 1px !important;
    font-size: 15px;
    width: 35px;
    height: 20px;
    border-radius: 4px;
    margin: auto;
}

.BtSave{
    background-color: #1A5D1A !important ;
    color: #fff !important;
    height: 30px;
  
}

.BtCancel{
    background-color: #E0282E!important ;
    color: #fff !important;
    height: 30px;
}

.CSS-GvSerial{
    margin: auto;
    max-width: 400px !important;
    width: 90% !important;
}

.CSS-GvSerial th{
    background-color: #12422e !important ;
    color: #fff;
    padding: 5px;
}

.CSS-GvSerial td{
    padding: 4px 4px 4px 4px!important;
}

.CSS-GvScanResult{
    max-width: 900px;
    width: 100% !important;
    margin-top: 10px;
}



.CSS-GvScanResult th{
  
    padding: 7px !important;
    background-color: #378CE7 !important ;
    color: #fff;
    text-align: center;
    
}
#txtLot_ScanSMTConnectRollConfirm_focus {
    padding: 1px !important;
    font-size: 16px;
    padding-left: 5px !important;
}

#lblTotalSht_ScanSMTConnectRollConfirm_focus{
    padding: 1px !important;
    font-size: 16px;
    padding-left: 5px !important;
}
  
#ddlProduct_ScanSMTConnectRollConfirm_focus {
    padding: 0 !important;
    font-size: 14px !important;
    padding-left: 5px !important;
  }

  [id^="gvSerial_txtSerial_"] {
    padding: 1px !important;
    font-size: 16px;
    padding-left: 5px !important;
}





  
