.Card-ScanSMTSerialSht{
    margin: auto;
    width: 95%;
    max-width: 1400px;
    margin-top: 50px;
    height: 100%;
    padding: 20px;
    display: flex;
}

.TbScanSMTSerialSht {
    margin: auto;
    width: 700px;
}

.TbScanSMTSerialSht th {
    background-color: #8c8c8c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbScanSMTSerialSht td {
    padding: 4px;
}

#txtfield {
    padding: 1px;
    font-size: 16px;
    padding-left: 5px;
}

#selectPdShtCon {
    padding: 0;
    font-size: 14px;
    padding-left: 5px;
}

.btIconSerialSht {
    padding: 0px !important;
    min-width: 50px !important;
}

.divgvSerialSht {
    justify-content: center;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    width: 450px;
}

.divgvSerialSht th {
    text-align: center;
    font-size: 16px;
    background-color: #12422e !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 5px;
}

.divgvSerialSht td {
    padding: 4px 4px 4px 4px!important;
}

.divgvScanResultSht {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
}

/* .divgvScanResultSht th {
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    background-color: #378CE7 !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 9px;
    font-weight: bold; 
    font-family: Arial;
}

.divgvScanResultSht td {
    padding: 4px 4px 4px 4px!important;
} */

.lblResultSht{
    margin: auto;
    margin-left: 42px;
    margin-top: 15px !important;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px;
}


