.Layout-All-Sheet{
    display: flex;
    margin: auto;
    width: 900px;
    border: 1px red solid;
}
.Layout-Show{
    border: 1px red solid;
}
.pnlMain1 {

  /* display: flex;
  margin: auto;
  width: 600px;
  height: 300px;
   */
   display: flex;
   margin: auto;
   width: 600px;
   margin-top: 20px;
}
#TableMain1 {
  width: 600px !important;
  margin: 0 auto;
  
}
#TableMain1 th {
  /* text-align: center;
  font-size: 38px;
  background-color: #8c8c8c !important ; */
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.pnlResult1 {
  display: flex;
  margin: auto;
  width: 600px;
  margin-top: 5px;
}
#TableResult1 {
  height: 180px;
}
#TableResult1 td {
  /* font-size: 80px; */
  text-align: center;
  border: 1px;
}


#TableSave1 td {
  text-align: center;
}

#lbltxt1 {
  width: 150px;
  text-align: right;
}
.txtField1 {
  width: 300px;
  padding: 1px;
}
.Pageshow-SheetBin{
margin-top: 6%;
}

