.AOITableFirst {
  margin: auto;
  width: 40%;
}
.AOITableFirst td {
  /* border: 1px solid #000; */
  padding: 5px;
}

.DAOITableFirst {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 10px;
}

.DAOITableSecond {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 30px;
}

.AOITableSecond {
  margin: auto;
  width: 60%;
}
.AOITableSecond td {
  padding: 3px;
}
.AOITableSecond th {
  padding: 5px;
}

.field_text .MuiInputBase-input {
  height: 10px;
}
.field_select .MuiSelect-select {
  height: 10px;
  
}
