.Card-ScanSMTSerialPcs {
    margin: auto;
    width: 95%;
    max-width: 1400px;
    margin-top: 50px;
    height: 100%;
    padding: 20px;
    display: flex;
}

.TbScanSMTSerialPcs {
    margin: auto;
    width: 700px;
}

.TbScanSMTSerialPcs th {
    background-color: #8c8c8c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbScanSMTSerialPcs td {
    padding: 4px;
}

#txtfield {
    padding: 1px;
    font-size: 16px;
    padding-left: 5px;
}

#selectPdPcsAuto {
    padding: 0;
    font-size: 14px;
    padding-left: 5px;
}

.btIconSerialPcs {
    padding: 0px !important;
    min-width: 50px !important;
}

.divgvSerialPcs {
    justify-content: center;
    display: flex;
    overflow-x: auto;
}

.divgvSerialPcs th {
    text-align: center;
    background-color: #12422e !important;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 5px;
}

.divgvSerialPcs td {
    padding: 4px 4px 4px 4px !important;
}

.divgvScanResultPcs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
}

/* .divgvScanResultPcs th {
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    background-color: #378CE7 !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 7px;
    font-weight: bold; 
    font-family: Arial;
}

.divgvScanResultPcs td {
    padding: 4px 4px 4px 4px!important;
} */

.gvScanResultContainer {
    display: flex;
    align-items: center;
    width: 100%;
}


.lblResultPcs {
    margin: auto;
    margin-left: 42px;
    margin-top: 15px !important;
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px;
}

.lblResultTime {
    margin: auto;
    margin-top: 15px !important;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px;
}

.row-red {
    color: red;
}

.row-green {
    color: green;
}