.Card-BendingTime{
    margin: auto;
    width: 95%;
    max-width: 1400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
}
.Serial-Bending{
    width: 100%;
    max-width: 400px;
    /* margin-top: 20px; */
    padding: 20px;
    text-align: center;
   
}
.Css-Table-Serial-Bending td{
    /* text-align: center; */
    width: 100%;
    border: 1px red solid;
}
.pnlDetail{
   
        display: flex;
        margin: auto;
        width: 700px !important;
        margin-top: 10px;
        
        /* border: 1px black solid; */
     
}
.pnlDetail th{
   
 background-color: #355E3B;
    padding: 10px;
    border-radius: 1px;
    color: white;
   
}
.pnlDetail td{
    padding: 0px;
    border-radius: 1px;
}

.TableSave-bending{
 
        width: 600px;
        margin: 10px auto;
        /* height: 10px; */
   
    
}
.pnlResult-Auto{
    width: 700px;
    margin: 0px auto;
    height: 200px;
    margin-top: 10px;
}
.gvBending{
    display: flex;
    margin: auto;
    width: 400px; 
}
.gvBending th {
  
    padding: 5px;
    border: 1px black solid;
   
}
.gvBending td {
    border: 1px black solid;
    padding: 5px;
}
/* .custom-input {
    width: 80%;
    height: 8px;
  } */
  /* .txtFieldbending {
    width: 300px;
    padding: 10px;
  } */

  #lbltxtBending {
    width: 150px;
    text-align: right;
  }
  .DAVITableFirst_Bending{
  display: flex;
  margin: auto;
  /* width: 530px;
  margin-top: 20px;  */
  width: 800px !important;
  text-align: center !important;
  font-size: 20px !important;
  height: 30px !important;
}
.TableMainBending {
    width: 00px !important;
    margin: 0 auto;
  }
  #TableMainBending th {
    text-align: center;
    font-size: 38px;
    background-color: #8c8c8c;
    color: white;
  }
  #TableMainBending td {
   padding: 1%;
  }
  .custom-table {
    border: 1px solid red; /* เส้นขอบรอบ Table */
  }
  
  .custom-table .MuiTableCell-root {
    border-color: red; /* เส้นขอบของแต่ละเซลล์ */
  }
  .TableBendingRecord{
     
    width: 700px !important;
    text-align: center !important;
    font-size: 20px !important;
    height: 30px !important;
    margin: auto;
    
  }
  .TableBendingRecord th {
    font-family: Arial;
    padding: 8px !important;
    background-color: #8c8c8c !important ;
    border-radius: 5px 5px 0 0 !important;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }