.TbSMTDel {
    margin: auto;
}

.TbSMTDel th{
    /* background-color: #8c8c8c; */
    border-radius: 5px  5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbSMTDel td {
    padding: 4px 4px 4px 4px !important;
}


.Bt_del{
    padding: 4px !important;
}

.customTxtField {
    width: 600px !important;
}

.SeldropDown {
    width: 250px;
}

.divgvELTResult {
    justify-content: center;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    width: 58%;
    margin-bottom: -80px;
}

.divgvELTResult th {
    text-align: center;
    font-size: 16px;
    background-color: #12422e !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 5px;
}

.divgvELTResult td {
    padding: 4px 4px 4px 4px!important;
    border-right: 1px solid #d9d9d9;
}

.Card-pnlfrom {
    width: 52%;
    height: 45px;
    text-align: center;
}