.Head-Menu1 {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    background: #739072;
    color: #fff;
    width: 220px;
    margin: 5px;
    height: 300px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.Head-Menu1:hover {
    background: #5a7257;
    transform: scale(1.05);
}

.Head-Menu2 {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    background: #CD8D7A;
    color: #fff;
    width: 220px;
    margin: 5px;
    height: 300px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.Head-Menu2:hover {
    background: #a8634e;
    transform: scale(1.05);
}

.Head-Menu3 {
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    background: #f4a86f;
    color: #fff;
    width: 220px;
    margin: 5px;
    height: 300px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.Head-Menu3:hover {
    background: #e88f4b;
    transform: scale(1.05);
}

.count-Menu1 {
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    background: #012101;
    width: 20px;
    margin: auto;
    margin-top: 20px;
}


.count-Menu2 {
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    background: #6c4336;
    width: 20px;
    margin: auto;
    margin-top: 20px;
}

.count-Menu3 {
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    background: #db7b31;
    width: 20px;
    margin: auto;
    margin-top: 20px;
}


.hoverable:hover {
    background: #c0c0c0;
    transform: scale(1.05);
}
.CardMenu {
    /* background-color: rgb(73, 185, 185);
    opacity: 0.8;  */
    /* Slight transparency */
    width: 400px;
    min-height: 550px;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
 }
 .CardHeader{
    border-radius: 20px;
    width: 400px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;          /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;
    font-weight: bold;
    font-size: large;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    
 }
.RowCardHeader {
    display: flex;
    justify-content: center;
    
}
/* .Space{
    margin-left: 15%;
   
}  */
  
.Background{
    height : 100vh;
    /* background: rgb(241,231,235);
    background: radial-gradient(circle, rgba(241,231,235,1) 0%, rgba(217,234,255,1) 100%); */
   
}
.col_style{
    background-color: 'red';
    padding: 5%;

}
