/* .ChangeSpiaoitimeview {
  width: 50%;
  padding: 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1), 
              0px 0px 3px rgba(0, 0, 0, 0.1) !important;
}

.ChangeSpiaoitimeview th {
  padding: 0 !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
}

.ChangeSpiaoitimeview td {
  padding: 4px 4px 4px 4px !important;
} */

.SPIAOITimeViewTableFirst {
  display: flex;
  margin: auto;
  width: 730px;
}

.ChangeSpiaoitimeview {
  height: 50px;
}

.ChangeSpiaoitimeview th {
  font-family: Arial;
  padding: 8px;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.ChangeSpiaoitimeview td {
  padding: 5px;
}
