.TbScanSMTConfirm {
    margin: auto;
    width: 700px;
}

.TbScanSMTConfirm th {
    background-color: #8c8c8c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbScanSMTConfirm td {
    padding: 4px;
}

.divgvSerialConfirm {
    justify-content: center;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    width: 480px;
}

.divgvSerialConfirm th {
    text-align: center;
    font-size: 16px;
    background-color: #12422e !important;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 5px;
}

.divgvSerialConfirm td {
    padding: 4px 4px 4px 4px !important;
    border-right: 1px solid #d9d9d9;
}

.divgvScanResultCon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
}

.row-red {
    color: red;
}

.row-red .ant-table-cell {
    color: red;
}

.row-green {

    color: green;
}

.row-green .ant-table-cell {
    color: green;
}