.RollTracetextField{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.RollTraceInput {
    width: 300px ;    
}
.RollTraceBtn{
    height: 40px;
}
.RollTraceCard{
    width: 300px ;    
    height: 40px;
}
.RollTraceShowData{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
