.ELTETYPEPnlForm {
    display: flex;
    margin: auto;
    width: 600px;
    margin-top: 20px;
}
.ETYPEmasterTb {
  height: 100px;
}
.ETYPEmasterTb th {
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.ELTTYPEpnlResult {
  display: flex;
  margin: auto;
  width: 800px;
  margin-top: 20px;
}
#ELTTYPETableResult th{
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  /* border-radius: 5px 5px 0 0 !important; */
  color: #fff;
  font-size: 20px;
  text-align: center;
    padding: 1%;
}

#ELTTYPETableResult td{
  text-align: center;
}
.CardlblErrorELT{
  height: 40px;
  text-align: center;
  background: #BB2525 !important;
  padding-top: 18px;
  width: 600px;
  color: yellow !important;
  font-weight: bold;
  margin : auto;
  margin-top: 10px;
}

