.divTbSheet{
    justify-content: center;
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  margin-left: 5% !important;
  margin-top: 3% !important;
  margin-right: 5% !important;
}



.divTbSheet th {
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(to top, #c1d1f1, #BCCEF8);
    padding: 9px;
}

.divTbSheet td {
  padding: 10px;
}

/*Popup Sheet Structure Master*/
.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 1000;
}

.popupcontent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 70%;
    text-align: center;
  }

  .StructurePopup{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 800px;
    height: auto;
    overflow: auto;
    border-radius: 10px !important;
  }

  .ProductPopup{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 1350px;
    height: auto;
    overflow: auto;
    border-radius: 10px !important;
  }

  .HeadPopup{
    font-size: 50;
    text-align: center;
    background-color: #aec1ec;
  }

  .gridContainer{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: left;
    margin-left: 4.3%;
    padding: 0.3%;
  }

  .gridContainer2{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: left;
    margin-left: 2%;
    padding: 0.2%;
  }

  .autowidthcell {
    white-space: nowrap; /* ป้องกันการตัดบรรทัด */
    width: auto; 
  } 
