.Card-ViewLot1 {
    /* width: 250px !important; */
    height: 50px !important;
    text-align: center!important;
    background: #F0A500 !important; /* สีพื้นหลัง */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif!important;
    color: #fff!important;
  }

  .Card-ViewLot2 {
    width: 300px !important;
    margin-bottom: 5px;
    height: 22px !important;
   
    background: #B4B4B8 !important; /* สีพื้นหลัง */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif!important;
    color: #fff!important;
    padding-left: 10px;
    padding-right: 2px;
  }
