.Card-ViewLot1 {
    /* width: 250px !important; */
    height: 50px !important;
    text-align: center!important;
    background: #0D7C66 !important; /* สีพื้นหลัง */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif!important;
    color: #fff!important;
  }

  .Card-ViewLot2 {
    width: 300px !important;
    margin-bottom: 5px;
    height: 22px !important;
   
    background: #B4B4B8 !important; /* สีพื้นหลัง */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif!important;
    color: #fff!important;
    padding-left: 10px;
    padding-right: 2px;
  }

  .Card-ViewLot3 {
    width: 120px !important;
    margin-bottom: 5px;
    height: 22px !important;
    background: #0D7C66 !important; /* สีพื้นหลัง */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif!important;
    color: #fff!important;
    /* padding-left: 10px; */
    /* padding-right: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.Card-ViewLot3:hover {
  background: #0A5A4A !important; /* สีพื้นหลังเมื่อ hover */
  cursor: pointer;
  transform: scale(1.1);
}
  .tableGvResultViewLot .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
  }
  .tableGvResultViewLot .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
}


.tableGvResultViewLot{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;

}
.tableGvResultViewLot td{
  font-size: 13px !important; /* กำหนดขนาดฟอนต์สำหรับเนื้อหาในเซลล์ */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tableGvResultViewLot td,.tableGvResultViewLot th{
  font-size: 13px !important; /* กำหนดขนาดฟอนต์สำหรับเนื้อหาในเซลล์ */
  /* padding-top: 0 !important;
  padding-bottom: 0 !important; */

}
