
.Header_CommonBG{ 
    background: hsl(0, 0%, 27%) !important; 
    color: #ffffff !important;
}
/* Card Scan */
.Card-Common{
    margin: auto;
    width: 90%;
    margin-top: 120px;
    height: 100%;
    padding:20px;
}

.Card-lblLog{
    height: 40px;
    text-align: center;
    background: #BB2525 !important;
    padding-top: 18px;
    color: yellow !important;
    font-weight: bold;
    margin-top: 10px;

}
.Img_GvResult{
width: 360px;
height: 300px;
margin-bottom: 30px;
}
.CSS-GvSerial {

    margin-top: 10px;
}
.CSS-GvSerial th{
    background-color: #12422e !important ;
    color: #fff;
    padding: 5px;
}

.CSS-GvSerial td{
    padding: 4px 4px 4px 4px!important;
}

.Card-lblResult{
    width: 70%;
    margin: auto;
    height: 45px;
    text-align: center;
    margin-bottom: 10px;
}

.Card-lblTime{
    width: 30%;
    margin: auto;
    height: 45px;
    text-align: center;
    margin-bottom: 10px;
}

.tableGvResult .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
  }
  .tableGvResult .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
}


.tableGvResult{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;

}
.input_txt .MuiInputBase-input {
  height: 10px; 
}


.Select_dropDown .MuiInputBase-input {
    height: 12px; 
    padding: 10px 12px; 
  }

.Bt_ibtBack {
    height: 10px;
    line-height: 10px; 
    text-align: center; 
    padding: 0;
  }

  .Icon_ibtBack {
    padding: 0;
  }
  
.Img1{
    width: 320px;
    height: 250px;
    padding: 0px;
    align-items: center;
    margin: auto;
}
.Tag-NG{
    width: 100%;
    text-align: center;
    background-color: #BA0900;
    color: #fff;
 }

.Tag-OK{
        width: 100%;
        text-align: center;
        background-color: #059212;
        color: #fff;
 }

.BtSave{
    background-color: #1A5D1A !important ;
    color: #fff !important;
    height: 30px;
  
}

.BtCancel{
    background-color: #E0282E!important ;
    color: #fff !important;
    height: 30px;
}

.tableGvResultView .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
  }
  .tableGvResultView .ant-table-thead > tr > th {
    background-color: #31363F;
    color: white;
}


.tableGvResultView{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;

}

.tableGvResultView td{
  font-size: 15px !important; /* กำหนดขนาดฟอนต์สำหรับเนื้อหาในเซลล์ */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* --------------Not Use--------------------------- */
.txtfield-disable{
background-color: #e0e0e0;
}

.Status-On{
    background: green;
    color: #ffffff;
}

.Status-Off{
    background: #BB2525;
    color: #ffffff;
}
.Card-Result{
    margin-bottom: 10px;
    width: 70%;
    margin: auto;
    height: 45px;
    text-align: center;
    

}

/* .tableGvResult .ant-table-tbody .ant-table-cell:nth-child(odd) {
    background-color: #f9f9f9;
  
  .tableGvResult .ant-table-tbody .ant-table-cell:nth-child(even) {
    background-color: #ffffff; 
  } */