.Header_CommonBG {
  background: hsl(0, 0%, 27%) !important;
  color: #ffffff !important;
  font-family: "Comfortaa", serif;
  /* font-optical-sizing: auto;
    /* font-weight: <weight>; */
  /* font-style: normal;  */
}
/* Card Scan */
.Card-Common {
  margin: auto;
  width: 98%;
  margin-top: 70px;
  height: 100%;
  padding: 5px;
  /* min-height:700px ; */
}
.Card-Common-Khun {
  margin: auto;
  width: 98%;
  margin-top: 90px;
  height: 100%;
  padding: 5px;
}

.Card-lblLog {
  height: 40px;
  text-align: center;
  background: #bb2525 !important;
  padding-top: 18px;
  color: yellow !important;
  font-weight: bold;
  margin-top: 10px;
}

.Card-lblOP {
  height: 40px;
  text-align: center;
  background: #acd0ee !important;
  padding-top: 18px;
  color: rgb(28, 39, 43) !important;
  font-weight: bold;
  margin-top: 10px;
}
.Img_GvResult {
  width: 360px;
  height: 300px;
  margin-bottom: 30px;
}
.CSS-GvSerial {
  margin-top: 10px;
}
.CSS-GvSerial th {
  background-color: #12422e !important ;
  color: #fff;
  padding: 5px;
}

.CSS-GvSerial td {
  padding: 4px 4px 4px 4px !important;
}

.Card-lblResult {
  width: 100%;
  margin: auto;
  height: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.Card-lblTime {
  width: 30%;
  margin: auto;
  height: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.tableGvResult .ant-table-thead > tr > th {
  background-color: #31363f;
  color: white;
}
.tableGvResult .ant-table-thead > tr > th {
  background-color: #31363f;
  color: white;
}

.tableGvResult {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.input_txt .MuiInputBase-input {
  height: 10px;
}

.input_txt_Master .MuiInputBase-input {
  height: 10px;
  background-color: #fff;
}

.Select_dropDown .MuiInputBase-input {
  height: 12px;
  padding: 10px 12px;
}

.Bt_ibtBack {
  height: 10px;
  line-height: 10px;
  text-align: center;
  padding: 0;
}

.Icon_ibtBack {
  padding: 0;
}

.Img1 {
  width: 320px;
  height: 250px;
  padding: 0px;
  align-items: center;
  /* margin: auto; */
}
.Tag-NG {
  width: 100%;
  text-align: center;
  background-color: #ba0900;
  color: #fff;
}

.Tag-OK {
  width: 100%;
  text-align: center;
  background-color: #059212;
  color: #fff;
}

.BtSave {
  background-color: green !important ;
  color: #fff !important;
  height: 30px;
}

.BtCancel {
  background-color: red !important ;
  color: #fff !important;
  height: 30px;
}

.tableGvResultView .ant-table-thead > tr > th {
  background-color: #31363f;
  color: white;
}
.tableGvResultView .ant-table-thead > tr > th {
  background-color: #31363f;
  color: white;
}

.tableGvResultView {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.tableGvResultView td {
  font-size: 13px !important; /* กำหนดขนาดฟอนต์สำหรับเนื้อหาในเซลล์ */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tableGvResultView td,
.tableGvResultView th {
  font-size: 13px !important; /* กำหนดขนาดฟอนต์สำหรับเนื้อหาในเซลล์ */
  /* padding-top: 0 !important;
  padding-bottom: 0 !important; */
}

/* --------------Not Use--------------------------- */
.txtfield-disable {
  background-color: #e0e0e0;
}

.Status-On {
  background: green;
  color: #ffffff;
}

.Status-Off {
  background: red;
  color: #ffffff;
}
.Card-Result {
  margin-bottom: 10px;
  width: 70%;
  margin: auto;
  height: 45px;
  text-align: center;
}

.ButtonReplace {
  color: white;
  background: green !important;
}

.ButtonDelete {
  color: white;
  background: red !important;
}

.ButtonCancel {
  color: white;
  background: rgb(112, 111, 111) !important;
}

.Header_Center {
  width: 800px !important;
  text-align: center !important;
  font-size: 24px !important;
  height: 30px !important;
}

.Header_Center th {
  font-family: Arial;
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.Header_Center td {
  padding: 8px !important;
}
.Header_Left {
  text-align: center !important;
  font-size: 24px !important;
  height: 30px !important;
}

.Header_Left th {
  padding: 8px !important;
  background-color: #8c8c8c !important ;
  border-radius: 5px 5px 0 0 !important;
  font-size: 24px;
  color: #fff;
}

.Header_Left td {
  /* padding: 4px 4px 4px 4px !important; */
  padding: 8px !important;
}

/* .tableGvResult .ant-table-tbody .ant-table-cell:nth-child(odd) {
    background-color: #f9f9f9;
  
  .tableGvResult .ant-table-tbody .ant-table-cell:nth-child(even) {
    background-color: #ffffff; 
  } */

.LableView {
  height: 35px;
  width: 100px;
  border-spacing: 0px;
  margin-right: 20px;
}
.RetriveBtn {
  height: 35px;
}
.ClearBtn {
  height: 35px;
}
.custom-fvi-button:hover {
  background-color: grey; /* สีพื้นหลังเมื่อ hover */
}
.ViewInput {
  width: 300px;
  height: 35px;
}
.ResultError {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "popins", sans-serif;
  font-weight: 100;
  height: 40px;
  width: 100%;
  background: #bb2525 !important;
  color: yellow !important;
}
.ResultSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "popins", sans-serif;
  font-weight: 100;
  height: 40px;
  width: 100%;
  background: green !important;
  color: white !important;
}

.Center_Layout {
  display: flex;
  margin: auto;
  width: 800px;
  margin-top: 80px;
}
