

.gvBackSideBarcode{
    margin: left;
}

.gvBackSideBarcode td {
    padding: 3px;
    width: 100px;
  }
  .gvBackSideBarcode input {
    width: 200px !important;
  }


.CSS-GvSerialBarcode th{
    background-color: #12422e !important ;
    color: #fff;
    padding: 5px;
}

.CSS-GvSerialBarcode td{
    padding: 4px 4px 4px 4px!important;
}

/* .CSS-GvScanResult{
    max-width: 900px;
    width: 100% !important;
    margin-top: 10px;
    padding: 0;
}

.CSS-GvScanResult th{
  
    padding: 2px !important;
    background-color: #378CE7 !important ;
     color: #fff;
    padding: 5px;
    font-weight: bold; 
}

.CSS-GvScanResult td{
    padding: 4px 4px 4px 4px!important;
} */

