.TbSheetInspection {
    margin: auto;
}

.TbSheetInspection th {
    background-color: #8c8c8c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbSheetInspection td {
    padding: 4px;
}

.BtExcute {
    background-color: #1A5D1A !important;
    color: #fff !important;
    height: 33px;
}

.tableGvData {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
    padding-left: 35px;
}

.tableGvData .ant-table-thead>tr>th {
    background-color: #31363F;
    color: white;
}

.tableGvData td {
    font-size: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tableGvDataXOut {
    width: 100%; 
    max-width: 1400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
    margin-left: 50px;
    display: block;
    overflow-y: auto;
    position: relative;
    overflow-x: auto;
}

.tableGvDataXOut .ant-table-thead>tr>th {
    background-color: #31363F;
    color: white;
}

.tableGvDataXOut td {
    font-size: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}