.Card-ScanSMTSerial{
    margin: auto;
    width: 95%;
    max-width: 1400px;
    margin-top: 50px;
    height: 100%;
    padding: 20px;
    display: flex;
}

.TbScanSMTSerial {
    margin: auto;
    width: 700px;
}

.TbScanSMTSerial th {
    background-color: #8c8c8c;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 5px;
}

.TbScanSMTSerial td {
    padding: 3px;
}

#txtfield {
    padding: 1px;
    font-size: 16px;
    padding-left: 5px;
}

#select {
    padding: 0;
    font-size: 14px;
    padding-left: 5px;
}

.btIcon {
    padding: 0px !important;
    min-width: 50px !important;
}

/* .divgvSerial {
    justify-content: center;
    display: flex;
} */

.divgvSerial th {
    text-align: center;
    font-size: 16px;
    background-color: #12422e !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 5px;
}

.divgvSerial td {
    padding: 4px 4px 4px 4px!important;
}

.divgvScanResultRec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .divgvScanResultRec th {
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    background-color: #378CE7 !important ;
    color: #fff;
    border-right: 1px solid rgb(221, 219, 219);
    padding: 9px;
    font-weight: bold; 
    font-family: Arial;
}

.divgvScanResultRec td {
    padding: 4px 4px 4px 4px!important;
} */

.lblResultRec{
    margin: auto;
    margin-left: 40px;
    margin-top: 15px !important;
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px;
}


